# Web-UI (Caddy)
CADDY_DOMAIN=
CADDY_TYPE=external
CADDY_PORT=8081
CADDY_AUTH_GROUPS=

# E-Mail (SMTP) Benachrichtigung
SMTP_HOST=mail.agenturserver.de
SMTP_PORT=465
SMTP_USER=
SMTP_PASS=
SMTP_TO=
SMTP_FROM=
SMTP_ERROR=true
